.page {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
}
.page {
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
}

.hero {
    height: 40vh;
    position: relative;
    margin-bottom: 2rem;
    background: url('../assets/main.jpeg') center/cover no-repeat;
    border-radius: var(--borderRadius);
  }
  .hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: var(--borderRadius);
  }
  .hero-text {
    color: var(--white);
    text-align: center;
  
  }
  
  @media only screen and (min-width: 768px) {
    .hero-text h1 {
      font-size: 4rem;
      margin-bottom: 0;
    }
  }

  .recipes-container {
    display: grid;
    gap: 1rem 1rem;
  }
  
  .recipes-list {
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
  }
  .tags-container {
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    /* background: blue; */
  }
  .tags-container h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tags-list a {
    text-transform: capitalize;
    display: block;
    color: var(--grey-500);
    transition: var(--transition);
  }
  .tags-list a:hover {
    color: var(--primary-500);
  }
  .recipe {
    display: block;
  }
  .recipe-img {
    height: 15rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
  }
  .recipe h5 {
    margin-bottom: 0;
    margin-top: 0.25rem;
    line-height: 1;
    color: var(--grey-700);
  }
  .recipe p {
    margin-bottom: 0;
    line-height: 1;
    color: var(--grey-500);
    margin-top: 0.5rem;
    letter-spacing: var(--letterSpacing);
  }
  @media screen and (min-width: 576px) {
    .recipes-list {
      grid-template-columns: 1fr 1fr;
    }
    .recipe-img {
      height: 10rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    .recipes-container {
      grid-template-columns: 200px 1fr;
      gap: 1rem;
    }
    .recipes-list {
      grid-template-columns: 1fr 1fr;
    }
  
    .recipe p {
      font-size: 0.85rem;
    }
    .tags-container {
      order: 0;
      /* background: blue; */
    }
    .tags-list {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .recipe h5 {
      font-size: 1.15rem;
    }
    .recipes-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  